<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.select.consumptionTax.SelectConsumptionTaxDatabaseMapper">
	<select id="selectGroup" resultType="com.example.demo.select.GroupResultForm">
		SELECT 
			<if test="checkGroupItem">
				suppliers.name			AS "groupitem",
			</if>
			<if test="checkGroupYear or checkGroupMonth">
				base.groupdate		AS "groupdate",
			</if>
			base.money				AS "money"
		FROM(
			SELECT 
				<if test="checkGroupItem">
					suppliers_id							AS "groupitem_id",
				</if>
				<if test="checkGroupYear">
					DATE_FORMAT(earnings_date,"%Y")			AS "groupdate",
				</if>
				<if test="checkGroupMonth">
					DATE_FORMAT(earnings_date,"%Y/%m")		AS "groupdate",
				</if>
				SUM(money * (consumption_tax_rate))		AS "money",
				company_id
			FROM earnings
			<where>
				earnings.company_id = #{companyAccountId}
				<if test="subject != null">
					AND subject LIKE #{subject}
				</if>
				<if test="person != null">
					AND person LIKE #{person}
				</if>
				<if test="earningsDateStart != null">
					AND earnings_date >= #{earningsDateStart}
				</if>
				<if test="earningsDateFinish != null">
					AND #{earningsDateFinish} >= earnings_date
				</if>
				<if test="moneyStart != null">
					AND (earnings.money * earnings.consumption_tax_rate) >= #{moneyStart}
				</if>
				<if test="moneyFinish != null">
					AND #{moneyFinish} >= (earnings.money * earnings.consumption_tax_rate)
				</if>
			</where>
			<trim prefix="GROUP BY" suffixOverrides=",">
				<if test="checkGroupItem">
					groupitem_id,
				</if>
				<if test="checkGroupYear or checkGroupMonth">
					groupdate
				</if>
			</trim>
		) base
			INNER JOIN suppliers ON base.groupitem_id = suppliers.id AND base.company_id = suppliers.company_id
		<where>
			<if test="companyName != null">
				suppliers.name LIKE #{companyName}
			</if>
			<if test="companyId != null">
				AND earnings.suppliers_id = #{companyId}
			</if>
			<if test="checkDisplayed">
				AND suppliers.is_displayed = TRUE
			</if>
		</where>
	</select>
	<select id="selectList" resultType="com.example.demo.select.base.earnings.ResultForm">
		SELECT 
			earnings.id													AS "earningsNumber",
			suppliers.name												AS "earningsItem",
			earnings.money * earnings.consumption_tax_rate				AS "money",
			earnings.earnings_date										AS "earningsDate",
			earnings.subject											AS "subject",
			earnings.person_name										AS "personName"
		FROM earnings
			INNER JOIN suppliers ON earnings.suppliers_id = suppliers.id AND earnings.company_id = suppliers.company_id
		<where>
			earnings.company_id = #{companyAccountId}
			<if test="companyName != null">
				AND suppliers.name LIKE #{companyName}
			</if>
			<if test="companyId != null">
				AND earnings.suppliers_id = #{companyId}
			</if>
			<if test="subject != null">
				AND earnings.subject LIKE #{subject}
			</if>
			<if test="person != null">
				AND earnings.person LIKE #{person}
			</if>
			<if test="earningsDateStart != null">
				AND earnings.earnings_date >= #{earningsDateStart}
			</if>
			<if test="earningsDateFinish != null">
				AND #{earningsDateFinish} >= earnings.earnings_date
			</if>
			<if test="moneyStart != null">
				AND (earnings.money * earnings.consumption_tax_rate) >= #{moneyStart}
			</if>
			<if test="moneyFinish != null">
				AND #{moneyFinish} >= (earnings.money * earnings.consumption_tax_rate)
			</if>
			<if test="checkDisplayed">
				AND suppliers.is_displayed = TRUE
			</if>
		</where>
	</select>
</mapper>