<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.configuration.ConfigurationDatabaseMapper">
	<select id="getConsumptionTax" resultType="java.lang.Double">
		SELECT default_consumption_tax_rate
		FROM company_details
		WHERE company_id = #{companyId}
	</select>
	<select id="selectUsersByCompanyId" resultType="com.example.demo.configuration.CompanyUserForm">
		SELECT
			id			AS "userId",
			name		AS "userName",
			authority	AS "userAuthority"
		FROM users
		WHERE company_id = #{companyId}
	</select>
	<select id="isEnabledUser" resultType="_boolean">
		SELECT COUNT(*) > 0
		FROM users
		WHERE id = #{userId}
		  AND company_id = #{companyId}
	</select>
	<update id="updateUser">
		UPDATE users
		SET
			name		= #{userName},
			authority	= #{userAuthority}
		WHERE id = #{userId}
	</update>
	<delete id="deleteUser">
		DELETE FROM users
		WHERE id = #{id}
	</delete>
	<update id="updateConsumptionTaxRate">
		UPDATE company_details SET default_consumption_tax_rate = #{afterConsumptionTax}
		WHERE company_id = #{companyId}
	</update>
	<update id="updateCompanyName">
		UPDATE company_details SET name = #{afterCompanyName}
		WHERE company_id = #{companyId}
	</update>
	<select id="getMasterAuthorityCountInCompany" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM users
		WHERE	company_id = #{companyId}
			AND	authority = "MASTER"
	</select>
	<select id="getAuthorityByUserId" resultType="java.lang.String">
		SELECT authority
		FROM users
		WHERE id = #{userId}
	</select>
</mapper>