/*<link rel="stylesheet" type="text/css" th:href="@{style.css}">*/

body{
	/*蜈ｨ菴薙ｒ讓ｪ譁ｹ蜷代↓荳ｭ螟ｮ縺槭ｍ縺医ｒ縺吶ｋ*/
	text-align: center;
}

form , .infomation, table{
	/*逶ｸ蟇ｾ逧�縺ｫ蟾ｦ蟇�縺帙☆繧�*/
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
	display: inline-brock;
	text-align: left;
}

input[type="text"],
input[type="password"]{
	padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
}

.input_label{
	font-size: 12px;
}

input[type="text"]:focus,
input[type="password"]:focus{
	box-shadow: 0 0 9px #3498db;
    border: 1px solid #3498db;
}

input[type="submit"]{
	/*荳ｭ螟ｮ縺ｫ*/
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
	display: inline-brock;
	text-align: center;
	/*繝�繧ｶ繧､繝ｳ*/
	border-radius: 0;   
    background: -moz-linear-gradient(top, #FFF 0%, #EEE);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
    border: 1px solid #DDD;
    color: #111;
    padding: 10px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="submit"]:hover{
	background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
}

.menu_inner {
		display: inline;
		list-style-type: none;
		padding-right: 15px;
		border: solid;
		background-color: #d364a1;
		font-size: 22px;
		padding-left: 15px;
		margin: 0 auto 0 auto;
}

.menu_outer{
		background-color: #35a2ee;
}