<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.select.income.DatabaseMapper">
	<select id="selectGroup" resultType="com.example.demo.select.GroupResultForm">
		
	</select>
</mapper>