<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.select.base.earnings.group.SelectIncomeDatabaseMapper">
	<select id="selectGroup" resultType="entity.select.GroupResultEntity">
		SELECT
			<if test="checkGroupYear">
				DATE_FORMAT(income_date,"%Y")			AS "groupdate",
			</if>
			<if test="checkGroupMonth">
				DATE_FORMAT(income_date,"%Y/%m")			AS "groupdate",
			</if>
			SUM(income_money)					AS "money"
		FROM(
			SELECT
				earnings.earnings_date	AS "income_date",
				earnings.money			AS "income_money"
			FROM earnings
				INNER JOIN suppliers ON earnings.suppliers_id = suppliers.id AND earnings.company_id = suppliers.company_id
			<where>
				earnings.company_id = #{companyAccountId}
				<if test="companyName != null">
					AND suppliers.name LIKE #{companyName}
				</if>
				<if test="companyId != null">
					AND earnings.suppliers_id = #{companyId}
				</if>
				<if test="checkDisplayed">
					AND suppliers.is_displayed = TRUE
				</if>
				<if test="earningsDateStart != null">
					income_date >= #{earningsDateStart}
				</if>
				<if test="earningsDateFinish != null">
					AND #{earningsDateFinish} >= income_date
				</if>
			</where>
			UNION ALL (
				SELECT
					expenses.expenses_date						AS "income_date",
					(0 - expenses.money * expenses_item.rate)	AS "income_money"
				FROM expenses
					INNER JOIN expenses_item ON expenses.expenses_item_id = expenses_item.id AND expenses.company_id = expenses_item.company_id
				<where>
					expenses.company_id = #{companyAccountId}
					<if test="checkDisplayed">
						AND expenses_item.is_displayed = TRUE
					</if>
					<if test="earningsDateStart != null">
						income_date >= #{earningsDateStart}
					</if>
					<if test="earningsDateFinish != null">
						AND #{earningsDateFinish} >= income_date
					</if>
				</where>
			)
		) income_sum
		<where>
			<if test="earningsDateStart != null">
				income_date >= #{earningsDateStart}
			</if>
			<if test="earningsDateFinish != null">
				AND #{earningsDateFinish} >= income_date
			</if>
		</where>
		<if test="checkGroupYear or checkGroupMonth">
			GROUP BY groupdate
		</if>
	</select>
</mapper>