<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.VerificationDatabaseMapper">
	<select id="isEnabledCompanyId" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM suppliers
		WHERE id = #{id}
	</select>
	<select id="isEnabledExpensesItemId" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM expenses_item
		WHERE id = #{id}
	</select>
	<select id="isEnabledExpensesId" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM expenses
		WHERE id = #{id}
	</select>
	<select id="isEnabledEarningsId" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM earnings
		WHERE id = #{id}
	</select>
</mapper>