<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.security.login.LoginDatabaseMapper">
	<select id="selectById" resultType="com.example.demo.security.login.Form">
		SELECT
			 users.id						AS "userId",
			 users.name						AS "userName",
			 users.password					AS "password",
			 users.authority				AS "authority",
			 company_details.company_id		AS "companyId",
			 company_details.name			AS "companyName"
		FROM users
			INNER JOIN company_details USING(company_id)
		WHERE users.id = #{userId}
	</select>
</mapper>