<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" th:href="@{style.css}">yyy
	</head>
	<body>
		<h1>簡易的な会計システム♪</h1>
		<ul class="menu_outer">
		    <li class="menu_inner"><a href="@{/home}">ホーム</a></li>
		    <li class="menu_inner"><a href="@{/insert}">登録</a></li>
		    <li class="menu_inner"><a href="@{/select}">検索</a></li>
		    <li class="menu_inner"><a href="@{/configuration}">設定</a></li>
		</ul>
		<main>
			<h2>所得税の検索フォーム</h2>
			<p>金額、日付は「2002/9/2-2002/9/30」、「200-9000」のように入力してください。基本「A-B」とした場合、AからBまでの範囲という意味になります。
			また、A、Bのどちらか一方だけならその一方を省略してください。また、その月の末日を表す場合、「2002/9/00」と、その年の最後の日を表す場合、「2002/00」
			とご入力ください。</p>
			<form th:action="@{/select/incomeTax/result}" method="post" action="#" th:object="${Form}"> 
				<div>会社（名前orID）：<input type="text" name="company" /></div> <div th:if="${#fields.hasErrors('earnings')}" th:errors="*{earnings}" /><br>
				<div>日付：<input type="text" name="date" /></div> <div th:if="${#fields.hasErrors('earnings')}" th:errors="*{earnings}" /><br>
				<div>金額：<input type="text" name="money" /></div> <div th:if="${#fields.hasErrors('earnings')}" th:errors="*{earnings}" /><br>
				<div><input type="checkbox" name="checkDisplayed" th:value="true">表示されている項目のみ</input> </div><br>
				<div><input type="checkbox" name="checkGroupExpenses" th:value="true">経費ごとにグループ化する</input> </div><br>
				<div><input type="checkbox" name="checkGroupMonth" th:value="true">月ごとにグループ化する</input> </div><br>
				<div><input type="checkbox" name="checkGroupYear" th:value="true">年ごとにグループ化する</input> </div><br>
				<p><input type="submit" value="検索" /></p>
			</form>
		</main>
	</body>
</html>