<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" th:href="@{style.css}">yy
	</head>
	<body>
		<h1>簡易的な会計システム♪</h1>
		<ul class="menu_outer">
		    <li class="menu_inner"><a href="@{/home}">ホーム</a></li>
		    <li class="menu_inner"><a href="@{/insert}">登録</a></li>
		    <li class="menu_inner"><a href="@{/select}">検索</a></li>
		    <li class="menu_inner"><a href="@{/configuration}">設定</a></li>
		</ul>
		<main>
			<h2>会社の登録フォーム</h2>
			<form th:action="@{/insert/company/insert}" method="post" action="#" th:object="${companyForm}"> 
				<div>会社名：<input type="text" name="name" /></div> <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" /><br>
				<p><input type="submit" value="登録" /></p>
			</form>
		</main>
	</body>
</html>