<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	</head>
	<body>
		<h1>簡易的な会計システム♪</h1>
		<ul class="menu_outer">
		    <li class="menu_inner"><a th:href="@{/home}">ホーム</a></li>
		    <li class="menu_inner"><a th:href="@{/insert}">登録</a></li>
		    <li class="menu_inner"><a th:href="@{/select}">検索</a></li>
		    <li class="menu_inner" th:if="${isMASTER}"><a th:href="@{/confinguration}">設定</a></li>
		</ul>
		<main>
			<h2>売上の登録フォーム</h2>
			<form th:action="@{/insert/earnings/insert}" method="post" action="#" th:object="${earningsForm}"> 
				<div>日付：<input type="text" name="earningsDate" th:field="*{earningsDate}"/></div> <div th:if="${#fields.hasErrors('earningsDate')}" th:errors="*{earningsDate}" /><br>
				<div>会社ID：<input type="text" name="company" th:field="*{company}"list="datalist_company" />
					<datalist id="datalist_company">
						<div>もしくはリストから選択</div>
						<select name="company" th:if="${companyCandidate}" th:each="candidate : ${companyCandidate}" th:object="${candidate}">
							<option th:value="*{candidateStr}"></option>
						</select>
					</datalist>
				</div> <div th:if="${#fields.hasErrors('company')}" th:errors="*{company}" /><br>
				<div>金額：<input type="text" name="money" th:field="*{money}"/></div> <div th:if="${#fields.hasErrors('money')}" th:errors="*{money}" /><br>
				<div>個人名（省略可）：<input type="text" name="personName" th:field="*{personName}"/></div> <div th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}" /><br>
				<div>件名（省略可）：<input type="text" name="subject" th:field="*{subject}"/></div> <div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" /><br>
				<p><input type="submit" value="登録" /></p>
			</form>
		</main>
	</body>
</html>