<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	</head>
	<body>
		<h1>簡易的な会計システム♪</h1>
		<ul class="menu_outer">
		    <li class="menu_inner"><a th:href="@{/home}">ホーム</a></li>
		    <li class="menu_inner"><a th:href="@{/insert}">登録</a></li>
		    <li class="menu_inner"><a th:href="@{/select}">検索</a></li>
		    <li class="menu_inner" th:if="${isMASTER}"><a th:href="@{/confinguration}">設定</a></li>a th:href="@{/confinguration}">設定</a></li>
		</ul>
		<main>
			<h2>経費の登録フォーム</h2>
			<form th:action="@{/insert/expenses/insert}" method="post" action="#" th:object="${expensesForm}"> 
				<div>経費の項目ID：<input type="text" name="expensesItem" list="datalist_expensesItem" th:field="*{expensesItem}"/>
					<datalist id="datalist_expensesItem">
						<div>もしくはリストから選択</div>
						<select name="expensesItem" th:if="${expensesItemCandidate}" th:each="candidate : ${expensesItemCandidate}" th:object="${candidate}">
							<option th:value="*{candidateStr}"></option>
						</select>
					</datalist>
				</div> <div th:if="${#fields.hasErrors('expensesItem')}" th:errors="*{expensesItem}" /><br>
				<div>日付：<input type="text" name="expensesDate" th:field="*{expensesDate}"/></div> <div th:if="${#fields.hasErrors('expensesDate')}" th:errors="*{expensesDate}" /><br>
				<div>金額：<input type="text" name="money" th:field="*{money}"/></div> <div th:if="${#fields.hasErrors('money')}" th:errors="*{money}" /><br>
				<div>件名（省略可）：<input type="text" name="subject" th:field="*{subject}"/></div> <div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" /><br>
				<p><input type="submit" value="登録" /></p>
			</form>
		</main>
	</body>
</html>