<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.makeNewCompanyAccount.MakeNewCompanyAccountDatabaseMapper">
	<insert id="getNewCompanyAccountId" useGeneratedKeys="true" keyProperty="companyId">
		INSERT INTO company() VALUES()
	</insert>
	<insert id="insertCompanyAccount">
		INSERT INTO company_details(company_id,name) VALUES(#{companyId},#{companyName})
	</insert>
	<insert id="insertUser" useGeneratedKeys="true" keyProperty="userid">
		INSERT INTO users(company_id,name,password,authority) VALUES(#{userName},#{password},#{companyId},#{authority})
	</insert>
</mapper>