<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" th:href="@{style.css}">
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<h1>簡易的な会計システム♪</h1>
		<ul class="menu_outer">
		    <li class="menu_inner"><a th:href="@{/home}">ホーム</a></li>
		    <li class="menu_inner"><a th:href="@{/insert}">登録</a></li>
		    <li class="menu_inner"><a th:href="@{/select}">検索</a></li>
		    <li class="menu_inner" th:if="${isMASTER}"><a th:href="@{/confinguration}">設定</a></li>
		</ul>
		<main>
			<h2>ホーム</h2>
			<p>
				<div th:text="'ようこそ' + ${companyName} + 'の' + ${userName}+'様'"></div>
			</p>
			<h3>今月</h3>
			<div class="infomation">
				<p>
					<div>売り上げ（掛け売り）</div>
					<div th:text="${earningsMonth}"></div><br>
				</p>
				<p>
					<div>経費</div>
					<div th:text="${expensesMonth}"></div><br>
				</p>
			</div>
			<h3>今年</h3>
			<div class="infomation">
				<p>
					<div>売り上げ（掛け売り）</div>
					<div th:text="${earningsYear}"></div><br>
				</p>
				<p>
					<div>経費</div>
					<div th:text="${expensesYear}"></div><br>
				</p>
				<p>
					<div>純利益</div>
					<div th:text="${netIncomeRateYear}"></div><br>
				</p>
			</div>
		</main>
	</body>
</html>