<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" th:href="@{style.css}">
	</head>/
	<body>
		<h1>簡易的な会計システム♪</h1>
		<ul class="menu_outer">
		    <li class="menu_inner"><a th:href="@{/home}">ホーム</a></li>
		    <li class="menu_inner"><a th:href="@{/insert}">登録</a></li>
		    <li class="menu_inner"><a th:href="@{/select}">検索</a></li>
		    <li class="menu_inner"><a th:href="@{/confinguration}">設定</a></li>
		</ul>
		<main>
			<h2>登録</h2>
			
			<ul>
				<li><a th:href="@{insert/company}">会社</a></li>
				<li><a th:href="@{insert/expensesItem}">経費の項目</a></li>
				<li><a th:href="@{insert/expenses}">経費</a></li>
				<li><a th:href="@{insert/eanings}">売上</a></li>
				<li><a th:href="@{insert/revenue}">収入</a></li>
			</ul>
		</main>
	</body>
</html>