<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	</head>
	<body>
		<h1>簡易的な会計システム♪</h1>
		<ul class="menu_outer">
		    <li class="menu_inner"><a th:href="@{/home}">ホーム</a></li>
		    <li class="menu_inner"><a th:href="@{/insert}">登録</a></li>
		    <li class="menu_inner"><a th:href="@{/select}">検索</a></li>
		    <li class="menu_inner"><a th:href="@{/confinguration}">設定</a></li>
		</ul>
		<main>
			<h2>ユーザーの新規登録の結果</h2>
			<p>
				あなたはユーザー登録に成功しました。<br>
				<div th:text="'あなたが登録したユーザーのIDは' + ${id} + 'になりました'"></div>
			</p>
		</main>
	</body>
</html>