<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.select.expensesItem.DatabaseMapper">
	<select id="selectList" resultType="com.example.demo.select.espensesItem.ResultForm">
		SELECT 
			id				AS "expensesNumber",
			name			AS "expensesName",
			rate			AS "rate",
			is_displayed	AS "checkDisplayed"
		FROM expensesItem
		<where>
			company_id = #{companyAccountId}
			<if test="companyId != null">
				AND id = #{companyId}
			</if>
			<if test="companyName != null">
				AND name LIKE #{companyName}
			</if>>
			<if test="isDisplayed">
				AND is_displayed = TRUE
			</if>
		</where>
	</select>
</mapper>